{
  "root": true,
  "env": {
    "browser": true,
    "es6": true
  },
  "extends": [
    "plugin:@typescript-eslint/recommended",
    "plugin:import/errors",
    "plugin:import/warnings",
    "plugin:import/typescript",
    "plugin:prettier/recommended",
    "prettier/@typescript-eslint",
    "prettier/react"
  ],
  "plugins": ["prettier"],
  "parserOptions": {
    "ecmaVersion": "latest",
    "project": ["./tsconfig.json"]
  },
  "rules": {
    "prettier/prettier": "error"
  }
}
